@import url(https://fonts.googleapis.com/css?family=Poppins:300,regular,500&display=swap);
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  margin: 0;
}

html,
body {
  height: 100%;
  line-height: 1;
}

button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  border: none;
  cursor: pointer;
  background-color: inherit;
}

.list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

body {
  font-family: "Poppins";
  font-weight: 300;
  line-height: 1.5;
  background-color: #0d0d11;
  color: #9c9c9c;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}

[class*=__container] {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}

.page {
  flex: 1 1 auto;
}

.button {
  display: inline-block;
  padding: 16px 30px;
  border-radius: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 2px;
  background-color: #3d96f4;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover {
  background-color: #0e5cb4;
}
@media (max-width: 991.98px) {
  .button {
    padding: 14px 20px;
  }
}
@media (max-width: 330px) {
  .button {
    padding: 10px 15px;
  }
}

.button--dark {
  padding: 16px 32px;
  background: rgba(129, 129, 139, 0.2);
}
.button--dark:hover {
  background-color: #0e5cb4;
}

.section {
  padding-top: 160px;
}
@media (max-width: 991.98px) {
  .section {
    padding-top: 120px;
  }
}
@media (max-width: 767.98px) {
  .section {
    padding-top: 100px;
  }
}
@media (max-width: 560px) {
  .section {
    padding-top: 70px;
  }
}
@media (max-width: 320px) {
  .section {
    padding-top: 20px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  position: fixed;
  height: 116px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(129, 129, 139, 0.2);
}

.header__container {
  display: flex;
  align-items: center;
  min-height: 116px;
  padding-top: 5px;
  padding-bottom: 5px;
  column-gap: 35px;
}

.header__menu {
  flex: 1 1 auto;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 3px;
  justify-content: flex-end;
  column-gap: 36px;
}

.menu__link {
  display: block;
  font-size: 16px;
  line-height: 1.6;
  color: #ffffff;
}
.menu__link:hover, .menu__link:focus {
  text-decoration: underline;
}

.cart-header {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #ffffff;
}
.cart-header:hover .cart-header__text, .cart-header:focus .cart-header__text {
  text-decoration: underline;
}

.cart-header__text {
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.96px;
}
.cart-header__text:hover, .cart-header__text:focus {
  text-decoration: underline;
}

.cart-header__quantity {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  background: rgba(129, 129, 139, 0.3);
}

.cart-icon {
  display: none;
}

.header__button {
  flex: 0 0 auto;
}

.header__logo,
.header__cart,
.header__button {
  position: relative;
  z-index: 3;
}

@media (max-width: 991.98px) {
  .menu__list,
.header__container {
    column-gap: 25px;
  }
  .header__container {
    min-height: 90px;
  }
  .header {
    height: 90px;
  }
}
@media (max-width: 767.98px) {
  .menu__list,
.header__container {
    column-gap: 15px;
  }
}
@media (max-width: 560px) {
  .header__logo {
    width: 32px;
    flex: 0 0 32px;
    overflow: hidden;
  }
  .cart-header__text {
    display: none;
  }
  .cart-icon {
    display: block;
    width: 30px;
    height: 30px;
    fill: #3d96f4;
  }
  .header__container {
    column-gap: 10px;
  }
}
.icon-menu {
  display: none;
}

@media (max-width: 767.98px) {
  .icon-menu {
    display: block;
    flex: 0 0 30px;
    height: 18px;
    position: relative;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    right: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu .icon-menu__span {
    top: calc(50% - 1px);
    transform: scaleX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-burger {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #0d0d11;
    overflow: auto;
    padding: 100px 15px 30px;
    transition: left 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-burger::before {
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    height: 70px;
    background-color: #0d0d11;
    z-index: 2;
  }
  .menu__list {
    row-gap: 10px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .menu__link {
    font-size: 32px;
  }
  .header__container {
    min-height: 70px;
  }
  .header {
    height: 70px;
  }
}
.menu-open .menu-burger, .menu-open .menu-burger::before {
  left: 0;
}
.menu-open .icon-menu__span {
  transform: scaleX(0);
}
.menu-open .icon-menu::before {
  top: calc(50% - 1px);
  transform: rotate(-45deg);
}
.menu-open .icon-menu::after {
  top: calc(50% - 1px);
  transform: rotate(45deg);
}

.section__container {
  display: flex;
  gap: 32px;
  align-items: center;
}
@media (max-width: 767.98px) {
  .section__container {
    flex-direction: column;
  }
}

.section__content {
  flex: 0 1 50%;
}
@media (max-width: 991.98px) {
  .section__content {
    padding-top: 8%;
  }
}
@media (max-width: 767.98px) {
  .section__content {
    padding-top: 5%;
  }
}

.title {
  max-width: 506px;
  font-weight: 500;
  font-size: 51px;
  line-height: 1.2;
  color: #ffffff;
}
@media (max-width: 991.98px) {
  .title {
    font-size: 44px;
    line-height: 1.1;
    margin-bottom: 10px;
  }
}
@media (max-width: 767.98px) {
  .title {
    margin-bottom: 8px;
    font-size: 38px;
    line-height: 1;
  }
}
@media (min-width: 768px) {
  .title {
    max-width: 520px;
  }
}
.title:not(:last-child) {
  margin-bottom: 28px;
}
@media (max-width: 766.98px) {
  .title:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media (max-width: 560px) {
  .title:not(:last-child) {
    margin-bottom: 15px;
  }
}
@media (max-width: 320px) {
  .title:not(:last-child) {
    margin-bottom: 5px;
  }
}

.hero__title {
  position: relative;
}
.hero__title::before {
  content: "";
  width: 122px;
  height: 122px;
  position: absolute;
  top: -20px;
  left: -30px;
  background: url(/img/dots.svg);
}

.title__text {
  max-width: 500px;
  margin-bottom: 33px;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5;
  color: #9c9c9c;
}
@media (max-width: 991.98px) {
  .title__text {
    margin-bottom: 23px;
    font-size: 16px;
    line-height: 1.2;
  }
}
@media (min-width: 768px) {
  .title__text {
    max-width: 500px;
  }
}
.title__text:not(:last-child) {
  margin-bottom: 33px;
}
@media (max-width: 766.98px) {
  .title__text:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media (max-width: 560px) {
  .title__text:not(:last-child) {
    margin-bottom: 15px;
  }
}
@media (max-width: 320px) {
  .title__text:not(:last-child) {
    margin-bottom: 10px;
  }
}

.section__actions {
  display: flex;
  column-gap: 10%;
}
@media (max-width: 991.98px) {
  .section__actions {
    column-gap: 0;
    justify-content: space-between;
  }
}
@media (max-width: 767.98px) {
  .section__actions {
    flex-direction: column;
    row-gap: 10px;
    text-align: center;
  }
}

.hero-button {
  min-width: 160px;
}

.hero__button:first-of-type {
  padding: 18px 25px;
}
@media (max-width: 767.98px) {
  .hero__button:first-of-type {
    padding: 14px 20px;
  }
}

.section__images {
  flex: 0 1 50%;
  justify-content: center;
  align-items: center;
}
.section__images img {
  max-width: 100%;
}

.images-section {
  display: flex;
  gap: 10%;
}

.images-column {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.clients {
  padding-top: 192px;
}
@media (max-width: 991.98px) {
  .clients {
    padding-top: 120px;
  }
}
@media (max-width: 767.98px) {
  .clients {
    padding-top: 100px;
  }
}
@media (max-width: 560px) {
  .clients {
    padding-top: 80px;
  }
}
@media (max-width: 320px) {
  .clients {
    padding-top: 50px;
  }
}

.clients__container {
  flex-direction: column;
  justify-content: center;
  row-gap: 24px;
}

.clients__title {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
}

.clients__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.why__section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.why__container {
  display: flex;
  column-gap: 64px;
}

.why__images {
  display: flex;
  flex: 0 1 50%;
  align-items: end;
  gap: 0;
}
.why__images img {
  max-width: 100%;
}

.why__content {
  display: flex;
  flex-direction: column;
  flex: 0 1 50%;
  gap: 40px;
  align-self: center;
}

.why__link {
  padding: 11px 19px;
  border: 1px solid rgba(129, 129, 139, 0.2);
  border-radius: 12px;
  margin-bottom: 43px;
  font-weight: 300;
  font-size: 11px;
  line-height: 1.6;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #9c9c9c;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.why__link:hover, .why__link:focus {
  color: #0e5cb4;
}

.why__title {
  max-width: 560px;
}

.subtitle {
  font-weight: 500;
  font-size: 51px;
  line-height: 1.2;
  color: #ffffff;
}

.subtitle__text {
  max-width: 490px;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5;
  color: #9c9c9c;
}

.why__list-item:not(:last-child) {
  margin-bottom: 16px;
}

.why__list-item {
  position: relative;
  min-height: 32px;
  padding-top: 5px;
  padding-left: 40px;
}
.why__list-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background: rgba(129, 129, 139, 0.1) url(/img/whyUs/check.svg) center no-repeat;
}

.section__label {
  display: inline-block;
  border: 1px solid rgba(129, 129, 139, 0.2);
  border-radius: 12px;
  padding: 11px 18px;
  font-weight: 300;
  font-size: 11px;
  line-height: 1.6;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #9c9c9c;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section__label:not(:last-child) {
  margin-bottom: 30px;
}
@media (max-width: 766.98px) {
  .section__label:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media (max-width: 560px) {
  .section__label:not(:last-child) {
    margin-bottom: 15px;
  }
}
@media (max-width: 320px) {
  .section__label:not(:last-child) {
    margin-bottom: 5px;
  }
}
.section__label:hover, .section__label:focus {
  color: #0e5cb4;
}

.services__items {
  display: flex;
  gap: 32px;
}
@media (max-width: 560px) {
  .services__items {
    flex-direction: column;
    gap: 22px;
  }
}

.services-column {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.services-column:first-child {
  padding-top: 48px;
}
@media (max-width: 560px) {
  .services-column:first-child {
    padding-top: 0;
  }
}
.services-column:last-child {
  padding-bottom: 48px;
}
@media (max-width: 560px) {
  .services-column:last-child {
    padding-bottom: 0;
  }
}

.services__item {
  max-width: 315px;
}

.item-service {
  display: block;
  padding: 55px 25px;
  background: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
}

.item-service__icon:not(:last-child) {
  margin-bottom: 16px;
}

.item-service__title {
  font-weight: 400;
  font-size: 19px;
  line-height: 1.4;
  color: #ffffff;
}
.item-service__title:not(:last-child) {
  margin-bottom: 10px;
}

.item-service__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: #81818b;
}/*# sourceMappingURL=main.css.map */