.clients {
  padding-top: 192px;

  @media (max-width: 991.98px) {
    padding-top: 120px;
  }
  @media (max-width: 767.98px) {
    padding-top: 100px;
  }
  @media (max-width: 560px) {
    padding-top: 80px;
  }
  @media (max-width: 320px) {
    padding-top: 50px;
  }
}

.section__container {
}

.clients__container {
  flex-direction: column;
  justify-content: center;
  row-gap: 24px;
}

.clients__title {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: $title-color;
}

.clients__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.clients__list-item {
}
.clients__link {
}
