.header {
  position: fixed;
  height: 116px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: $main-bg-light;
}

.header__container {
  display: flex;
  align-items: center;
  min-height: 116px;
  padding-top: 5px;
  padding-bottom: 5px;
  column-gap: 35px;
}

.header__logo {
}

.header__menu {
  flex: 1 1 auto;
}
.menu {
}
.menu__icon {
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 3px;
  justify-content: flex-end;
  column-gap: 36px;
}

.menu__item {
}

.menu__link {
  display: block;
  font-size: 16px;
  line-height: 1.6;

  color: $title-color;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.header__cart {
}

.cart-header {
  display: flex;
  align-items: center;
  gap: 5px;

  color: $title-color;

  &:hover .cart-header__text,
  &:focus .cart-header__text {
    text-decoration: underline;
  }
}

.cart-header__text {
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.96px;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.cart-header__quantity {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;

  font-weight: 500;
  font-size: 14px;
  line-height: 1;

  background: $cart-bg;
}

.cart-icon {
  display: none;
}

.header__button {
  flex: 0 0 auto;
}

.header__logo,
.header__cart,
.header__button {
  position: relative;
  z-index: 3;
}

@media (max-width: 991.98px) {
  .menu__list,
  .header__container {
    column-gap: 25px;
  }

  .header__container {
    min-height: 90px;
  }

  .header {
    height: 90px;
  }
}

@media (max-width: 767.98px) {
  .menu__list,
  .header__container {
    column-gap: 15px;
  }
}

@media (max-width: 560px) {
  .header__logo {
    width: 32px;
    flex: 0 0 32px;
    overflow: hidden;
  }

  .cart-header__text {
    display: none;
  }

  .cart-icon {
    display: block;
    width: 30px;
    height: 30px;
    fill: $button-bg;
  }

  .header__container {
    column-gap: 10px;
  }
}

// ! Як поставити корзину по центру?!

//  @media screen and (min-width: 321px) and (max-width: 559px) {
//
//   }
