body {
  font-family: "Poppins";
  font-weight: 300;
  line-height: 1.5;

  background-color: $main-bg;
  color: $text-color;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}

[class*="__container"] {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}

.page {
  flex: 1 1 auto;
}

.button {
  display: inline-block;
  padding: 16px 30px;
  border-radius: 50px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 2px;

  background-color: $button-bg;
  color: $title-color;

  @include transition(background-color);

  &:hover {
    background-color: $button-hover;
  }

  @media (max-width: 991.98px) {
    padding: 14px 20px;
  }

  @media (max-width: 330px) {
    padding: 10px 15px;
  }
}
