// colors
$main-bg: #0d0d11;
$main-bg-light: rgba(129, 129, 139, 0.2);

$text-color: #9c9c9c;
$title-color: #ffffff;
$button-bg: #3d96f4;
$button-bg-dark: rgba(129, 129, 139, 0.2);
$button-hover: #0e5cb4;
$cart-bg: rgba(129, 129, 139, 0.3);
